@media screen and (min-width: 600px) {
.container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: 0 0.188em 1.550em rgb(31, 24, 100);
    justify-content: space-around;
}
}

.news-container{
    margin-top: 30px;
}

.news-card{
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 15px;
    padding: 12px 16px 20px;
    margin-bottom: 10px;
}

.news-card h3{
    font-size: 1.5em;
    letter-spacing: 1px;
    color: rgb(53, 11, 70);
}

.pagination{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px 10px;
    margin: 0;
    list-style: none;
}

.pagination a{
    display: flex;
    justify-content: center;
    align-items:center;
    border: solid 1px white;
}

.active-page{}

.previous-page{}

.next-page{}

